[user]
	name = gaojiasheng
	email = gaojiasheng.him@foxmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[core]
	editor = vim
    autocrlf = input
[color]
    ui = auto

[url "ssh://gitlab@git.garena.com:2222/"]
    insteadOf = https://git.garena.com/
[url "ssh://gitlab@git.garena.com"]
    insteadof = https://git.garena.com/
